@charset "utf-8";
/* CSS Document */




/***************************************/
/* gaiyou */
/***************************************/
#gaiyou{
	padding-top: 80px;
}

#gaiyou .gaiyou-wrap{
	display: flex;
	justify-content: space-between;
}
#gaiyou .gaiyou-wrap .img{
	width: 48%;
}
#gaiyou dl{
	width: 48%;
}
#gaiyou dl dt{
	display: block;
	padding: 5px;
	background-color: var(--accent-color);
}
#gaiyou dl dd{
	display: block;
	margin-bottom: 10px;
}

/***************************************/
/* mezasu-hoiku */
/***************************************/
#mezasu-hoiku{
	padding-top: 80px;
}
ol {
	counter-reset:number; /*数字をリセット*/
	list-style-type: none!important; /*数字を一旦消す*/
	padding:0.5em;
	width: fit-content;
    margin: auto;
}
ol li {
  position: relative;
  padding-left: 30px;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 30px;
	font-size: 2.4rem;
}

ol li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display:inline-block;
  background: var(--accent-color);
  color: #fff;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/***************************************/
/* encho */
/***************************************/
#encho{
	padding-top: 80px;
	padding-bottom: 80px;
}
#encho .encho-name{
	text-align: right;
}


/***************************************/
/* smartphone */
/***************************************/
@media screen and (max-width: 750px){

	#gaiyou .gaiyou-wrap{
		flex-direction: column;
	}	
	#gaiyou .gaiyou-wrap .img{
		width: 100%;
		margin-bottom: 40px;
	}
	#gaiyou dl{
		width: 100%;
	}
}