@charset "utf-8";
/* CSS Document */



/***************************************/
/* mainvisual */
/***************************************/
#mainvisual{
	position: relative;
}
#mainvisual ul li.slider-item{
	height: 700px;
	max-height: 100vw;
}
#mainvisual ul li.slider-item img{
	height: 100%;
	object-fit: cover;
}
#mainvisual .kisya{
	min-width: 300px;
	max-width: 600px;
	position: absolute;
	left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


/***************************************/
/* message */
/***************************************/
#message{
	padding: 80px 0;
}
#message p{
	text-align: center;
	font-size: 3.2rem;
}
#message p span{
	font-size: 4.2rem;
	background:linear-gradient(transparent 60%, var(--accent-color) 60%);
}

/***************************************/
/* link */
/***************************************/
#link{
	padding-bottom: 80px;
}
#link ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#link ul li{
	width: 24%;
	padding: 20px 20px 20px;
	border-radius: 20px;
	background-color: var(--accent-color);
	position: relative;
	display: flex;
  	flex-direction: column;
}
	
#link ul li .title{
	text-align: center;
	font-size: 2.4rem;
	border-bottom: 3px dotted #fff;
	margin-bottom: 10px;
}
#link ul li .description{
	padding-bottom: 10px;
}
#link ul li a{
	display: block;
	padding: 10px;
	background-color: var(--bg-color);
	border: 3px solid var(--text-color);
	border-radius: 20px;
	text-align: center;
	position: relative;
	transition: all .3s;
	margin-top: auto;
}
#link ul li a::after{
    content: '';
    border: 0;
    border-top: solid 2px var(--text-color);
    border-right: solid 2px  var(--text-color);
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg); /* rotate(45deg)で矢印を回転（向きを変更）させる */
}

#link ul li a:hover{
	background-color: var(--accent-color);
}



/***************************************/
/* news */
/***************************************/
#news{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../img/news-bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 80px 0;
}
#news h2{
	color: #fff;
	margin-bottom: 40px;
	font-size: 4.2rem;
	text-align: center;
}
#news ul.news-lists{
	display: flex;
	justify-content: space-between;
}
#news ul.news-lists li.news-list{
	width: 32%;
	background-color: var(--bg-color);
	padding: 20px;
	border-radius: 20px;
}
#news ul.news-lists li.news-list .img{
	overflow: hidden;
}
#news ul.news-lists li.news-list img{
	transition: all .3s;
}
#news ul.news-lists li.news-list:hover img{
	transform: scale(1.3);
}
#news ul.news-lists li.news-list:hover p{
	text-decoration: underline;
}
#news ul.news-lists li.news-list p.title{
	font-size: 2.4rem;
}

/***************************************/
/* smartphone only */
/***************************************/
@media screen and (max-width: 750px){
	
	
	#message p{
		font-size: 2.4rem;
	}
	#message p span{
		font-size: 3.2rem;
	}
	
	#link ul li{
		width: 48%;
		margin-bottom: 40px;
	}
	
	#news ul.news-lists{
		flex-direction: column;
	}
	#news ul.news-lists li.news-list{
		width: 100%;
		margin-bottom: 40px;
	}
	
}